<div class="home-page-container">
    <div class="left-container">
        <h2>SORT HACKATONS</h2>
        <div class="sort-section">
            <button class="btn" (click)="sortHackathons('votes')">Votes</button>
            <button class="btn" (click)="sortHackathons('creationDate')">creationDate</button>
        </div>
    </div>
    <div class="body-container">
        <div class="hackathon-section">
            <ul class="hackathon-list" *ngFor="let item of hackathonList; let i = index">
                <li class="list-item">
                    <div class="hackathon-header">
                        <div class="title">{{item.title | UpperCase}}</div>
                        <div class="feature">{{item.feature | UpperCase}}</div>
                    </div>
                    <div class="hackathon-body">
                        <div class="description">{{item.description}}</div>
                    </div>
                    <div class="hackathon-footer">
                        <div class="votes">
                            <p><span>{{item.votes}}</span></p>
                            <button id="vote-{{i}}" alt="Votes" (click)="addVote(item.id,i)"></button>
                        </div>
                        <div class="date">{{item.creationDate | Date}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-container">
        <h2>SORT HACKATONS</h2>
        <button class="btn" (click)="addHackathon()">Add</button>
    </div>
</div>