// -----------------------------------------------------------------------------------Login------------------------------------------------------------------------------------
body{
    font-family: Courier;
}

.container{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.login-box {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    background: #f7f7f7;
    text-align: center;
    border-radius: 10px;

    .heading{
        height: 30px;
        width: 100%;
        padding: 5% 0%;
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 40px;
        text-align: center;
        background-color: #000;
        color: white;
        border-radius: 10px 10px 0px 0px;
    }

    .error-message::before{
        content: '*';
        color: red;
    }
}

.login-form{
    button{
        border: 0px;
        margin: 10px;
        text-align: center;
        width: 35%;
        height: 40px;
        font-size: 16px;
        font-weight: bolder;
        border-radius: 3px;
        background-color: #e8490c;
        color: #f7f7f7;
    }
}

.user-name{
    label{
        display: block;
        text-align: center;
        font-weight: bolder;
        padding: 5px;
        font-size: 17px;
    }
    input{
        width: 95%;
        height: 30px;
    }
}
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------HomePage---------------------------------------------------------------------------------
.home-page-container{
    display: flex;
    height: 100%;
    padding: 5px;
    margin: 10px;
}
.sort-section{
    width: 20%;
    height: 100%;
    border-right: 2px solid #000;
}
.hackathon-container-section{
    width: 60%;
    height: 100%;
}
.right-section{
    width: 20%;
    height: 100%;
    border-left: 2px solid #000;
}
// -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
