.btn{
    border: 0px;
    margin: 10px;
    text-align: center;
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 3px;
    background-color: #e8490c;
    color: #f7f7f7;
}
ul{
    list-style-type: none;
}