.hackathon-container{
    width: 830px;
    margin: auto;
    // width: 50%;
    // justify-content: center;
}
.message::before{
    content: '*';
    color: red;
}
.hackathon-form{
    // display: flex;
    // // flex-direction: column;
    // justify-content: center;
    label{
        font-weight: bolder;
        font-size: 18px;
        display: block;
    }
    .hackathon-title{
        float: left;
    }
    .hackathon-description{
        clear: both;
        padding: 15px 0px;
        margin: 5px;
    }
    .hackathon-feature{
        float: right;
    }
    button{
        display: flex;
        padding: 15px 100px;
        width: unset;
        height: unset;
        margin: 10px auto;
    }
}